<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="AreaMapper">

<select id="ChkAreaname" parameterType="String" resultType="int">
select count(*) from tb_area where areaname=#{areaname}
</select>

<insert id="InsertArea" parameterType="String">
insert into tb_area(areaname,createdby,modifiedby) 
values(#{areaname},'관리자','관리자')
</insert>

<update id="DeleteArea" parameterType="String">
update tb_area set active=1 where area_seq=#{area_seq}
</update>

<update id="UpdateArea" parameterType="Hashmap">
update tb_area set areaname=#{areaname} where area_seq=#{area_seq}
</update>

</mapper>