<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExplorerMapper">
<select id="getExList" resultType="ExplorerBean" parameterType="Hashmap">
select swnumber,swversion,
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=0) as 'assetsetupcount',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=0 and e.equipmenttype='pc') as 'pc',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=1) as 'noassetsetupcount',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=1 and e.equipmenttype='pc') as 'pc' 
from tb_sw s where s.swtype='Explorer'
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>
</select>

<select id="getTotalCount" resultType="int" parameterType="Hashmap">
select count(*) from (
select swnumber,swversion,
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=0) as 'assetsetupcount',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=0 and e.equipmenttype='pc') as 'pc',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=1) as 'noassetsetupcount',
(select count(*) from tb_equipsw es
join tb_equipment e
on es.equipmentid=e.equipmentid
where es.swnumber=s.swnumber
and e.assetYN=1 and e.equipmenttype='pc') as 'pc1' 
from tb_sw s where s.swtype='Explorer'
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>
) cc

</select>


<select id="getDetailTotalCount" resultType="int">
select count(*) from (
select es.swnumber,s.swname,a.areaname,o.officename,d.departmentname,em.employeename,e.equipmenttype,es.equipmentid
from tb_equipsw es 
left join tb_sw s on es.swnumber=s.swnumber
join tb_equipment e on es.equipmentid=e.equipmentid
join tb_employee em on e.employeenumber=em.employeenumber
join tb_department d on em.department_seq=d.department_seq
join tb_office o on d.office_seq=o.office_seq
join tb_area a on o.area_seq=a.area_seq
where es.swnumber=#{swnumber} ) es
</select>

<select id="getExDetailList" resultType="Explorer.Model.ExplorerDetailBean">
select es.swnumber, s.swversion, s.swname,a.areaname,o.officename,d.departmentname,em.employeename,e.equipmenttype,es.equipmentid
from tb_equipsw es 
left join tb_sw s on es.swnumber=s.swnumber
join tb_equipment e on es.equipmentid=e.equipmentid
join tb_employee em on e.employeenumber=em.employeenumber
join tb_department d on em.department_seq=d.department_seq
join tb_office o on d.office_seq=o.office_seq
join tb_area a on o.area_seq=a.area_seq
where es.swnumber=#{swnumber}
</select>
</mapper>