<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="StswtbMapper">

<select id="SelectStandardList" resultType="sw.Model.SwBean" parameterType="Hashmap">
select * from tb_sw where swtype='표준SW' and active=0
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>
</select>

<select id="getTotalCount" parameterType="Hashmap" resultType="int">
select count(*) from tb_sw 
where swtype='표준SW' 
and active=0 
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>
</select>

<select id="getStandardSwList" resultType="stswtb.Model.SwVersionManagementBean" parameterType='Hashmap'>
select dae.swnumber,dae.swname,sum(dae.assetdaesang) as 'assetdaesang',
sum(dae.assetsetupcount) as 'assetsetupcount',sum(dae.notassetdaesang) as 'notassetdaesang',
sum(dae.notassetsetupcount) as 'notassetsetupcount'
from 
(select s.swnumber,s.swname,
(select count(*) from tb_equipment where assetYN=0) as 'assetdaesang',
(select count(*) from tb_equipsw es
join tb_equipment e
on e.equipmentid=es.equipmentid
where es.swnumber=s.swnumber and e.assetYN=0) as 'assetsetupcount',
(select count(*) from tb_equipment where assetYN=1) as 'notassetdaesang',
(select count(*) from tb_equipsw es
join tb_equipment e
on e.equipmentid=es.equipmentid
where es.swnumber=s.swnumber and e.assetYN=1) as 'notassetsetupcount'
from tb_sw s 
where s.swtype='표준SW' and s.active=0 
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>

order by s.swnumber asc) dae join tb_sw s on dae.swnumber=s.swnumber group by dae.swname order by dae.swnumber asc

</select>

<select id="getSwTotalCount" resultType="int" parameterType="Hashmap">
select count(*) 
from 
(select dae.swname,sum(dae.assetdaesang) as 'assetdaesang',
sum(dae.assetsetupcount) as 'assetsetupcount',sum(dae.notassetdaesang) as 'notassetdaesang',
sum(dae.notassetsetupcount) as 'notassetsetupcount'
from 
(select s.swnumber,s.swname,
(select count(*) from tb_equipment where assetYN=0) as 'assetdaesang',
(select count(*) from tb_equipsw es
join tb_equipment e
on e.equipmentid=es.equipmentid
where es.swnumber=s.swnumber and e.assetYN=0) as 'assetsetupcount',
(select count(*) from tb_equipment where assetYN=1) as 'notassetdaesang',
(select count(*) from tb_equipsw es
join tb_equipment e
on e.equipmentid=es.equipmentid
where es.swnumber=s.swnumber and e.assetYN=1) as 'notassetsetupcount'
from tb_sw s 
where s.swtype='표준SW' and s.active=0 
<if test="swDate!='null'">
and date(created)>#{swDate}
</if>
) dae 
join tb_sw s on dae.swnumber=s.swnumber group by dae.swname) cnt;
</select>
<select id="getSwAllVersion" resultType="stswtb.Model.SwVersionManagementBean" parameterType="Hashmap">
select s.swname,s.bit,s.swversion,
(select count(*) from tb_equipment where assetYN=0) as 'assetdaesang',
(select count(*) from tb_equipsw es 
join tb_equipment e on es.equipmentid=e.equipmentid 
where e.assetYN=0 and es.swnumber=s.swnumber) as 'assetsetupcount',
(select count(*) from tb_equipment where assetYN=1) as 'notassetdaesang',
(select count(*) from tb_equipsw es 
join tb_equipment e on es.equipmentid=e.equipmentid 
where e.assetYN=1 and es.swnumber=s.swnumber) as 'notassetsetupcount'
from tb_sw s where s.swname=#{swname} and active=0
</select>

<select id="TotalCountFromSwAllVersion" resultType="int" parameterType="Hashmap">
select count(*) 
from (select s.swname,s.bit,s.swversion,
(select count(*) from tb_equipment where assetYN=0) as 'assetdaesang',
(select count(*) from tb_equipsw es 
join tb_equipment e on es.equipmentid=e.equipmentid 
where e.assetYN=0 and es.swnumber=s.swnumber) as 'assetsetupcount',
(select count(*) from tb_equipment where assetYN=1) as 'notassetdaesang',
(select count(*) from tb_equipsw es 
join tb_equipment e on es.equipmentid=e.equipmentid 
where e.assetYN=1 and es.swnumber=s.swnumber) as 'notassetsetupcount'
from tb_sw s where s.swname=#{swname} and active=0) cnt
</select>

</mapper>